{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <title>Cinemark</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="{% static "plugins/bootstrap-3.3.7/css/bootstrap.min.css" %}" rel="stylesheet">
      <link href="{% static "plugins/bootstrap-3.3.7/css/bootstrap-theme.min.css" %}" rel="stylesheet">
   </head>
   <body>
      
      <div class="container">
          {% block content %}
          {% endblock %}
      </div><!-- .container -->

      <script type="text/javascript" src="{% static "plugins/jquery-2.2.5.min.js" %}"></script>
      <script type="text/javascript" src="{% static "plugins/bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
      <script type="text/javascript" src="{% static "js/cinemark-bootstrap.js" %}"></script>
   </body>
</html>