<div class="panel panel-default">
   <div class="panel-heading">{{ title }}</div>
   <div class="panel-body">

      {% csrf_token %}

      <div class="row">
         <div class="col-sm-8">
            <div class="form-group{% if formulario.titulo.errors %} has-error{% endif %}">
               {{ formulario.titulo.label_tag }}
               {{ formulario.titulo }}
               {% if formulario.titulo.errors %}
               <p class="help-block">{{ formulario.titulo.errors|first }}</p>
               {% endif %}
            </div><!-- .form-group -->
         </div><!-- . -->

         <div class="col-sm-4">
            <div class="form-group{% if formulario.ano_lancamento.errors %} has-error{% endif %}">
               {{ formulario.ano_lancamento.label_tag }}
               {{ formulario.ano_lancamento }}
               {% if formulario.ano_lancamento.errors %}
               <p class="help-block">{{ formulario.ano_lancamento.errors|first }}</p>
               {% endif %}
            </div><!-- .form-group -->
         </div><!-- . -->
      </div><!-- .row -->

      <div class="form-group{% if formulario.sinopse.errors %} has-error{% endif %}">
         {{ formulario.sinopse.label_tag }}
         {{ formulario.sinopse }}
         {% if formulario.sinopse.errors %}
         <p class="help-block">{{ formulario.sinopse.errors|first }}</p>
         {% endif %}
      </div><!-- .form-group -->

      <div class="form-group{% if formulario.youtube.errors %} has-error{% endif %}">
         {{ formulario.youtube.label_tag }}
         {{ formulario.youtube }}
         {% if formulario.youtube.errors %}
         <p class="help-block">{{ formulario.youtube.errors|first }}</p>
         {% endif %}
      </div><!-- .form-group -->

      <div class="form-group{% if formulario.tags.errors %} has-error{% endif %}">
         {{ formulario.tags.label_tag }}
         {{ formulario.tags }}
         {% if formulario.tags.errors %}
         <p class="help-block">{{ formulario.tags.errors|first }}</p>
         {% endif %}
      </div><!-- .form-group -->

      <div class="form-group{% if formulario.capa.errors %} has-error{% endif %}">
         {{ formulario.capa.label_tag }}
         {{ formulario.capa }}
         {% if formulario.capa.errors %}
         <p class="help-block">{{ formulario.capa.errors|first }}</p>
         {% endif %}
      </div><!-- .form-group -->

      <div class="text-right">
         <button type="submit" class="btn btn-primary">{{ button }}</button>
      </div>

   </div><!-- .panel-body -->
</div><!-- .panel -->