{% extends "layouts/default.html" %}
{% load image %}

{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Meus Filmes</h3>
	</div>
	<div class="panel-body">

		{% if filmes %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="1"></th>
					<th>Título</th>
					<th colspan="2">Ano de Lançamento</th>
				</tr>
			</thead>
			<tbody>
			{% for filme in filmes %}
			<tr>
				<td>
					<img src="{{ filme.capa.url|image_path:"/250x320/" }}" width="100px">
				</td>
				<td>{{ filme.titulo }}</td>
				<td>{{ filme.ano_lancamento }}</td>
				<td class="text-right">
					<a href="{% url 'filmes.edit' pk=filme.pk %}" class="btn btn-primary btn-sm">Editar</a>

					<form action="{% url 'filmes.delete' pk=filme.pk %}" method="post" style="display: inline-block;">{% csrf_token %}
						<button type="submit" class="btn btn-danger btn-sm">Deletar</button>
					</form>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table><!-- .table -->

		<div class="pagination">
			<span class="step-links">
				{% if filmes.has_previous %}
						<a href="?page={{ filmes.previous_page_number }}">previous</a>
				{% endif %}

				<span class="current">
						Page {{ filmes.number }} of {{ filmes.paginator.num_pages }}.
				</span>

				{% if filmes.has_next %}
					<a href="?page={{ filmes.next_page_number }}">next</a>
				{% endif %}
			</span>
		</div>

		{% else %}
			<div class="alert alert-warning">Você não possui filme.</div>
		{% endif %}

	</div>
</div>


{% endblock content %}