{% extends 'layouts/default.html' %}

{% block content %}
{% load image %}

<h2>{{ nome_do_cara }}</h2>


{% if object_list %}

<div class="row">
{% for filme in object_list %}
<div class="col-sm-2">
<article class="filme">
	<a href="{% url 'filmes.detail' pk=filme.pk %}">
		<figure>
			{% if filme.capa %}
			<img src="{{ filme.capa.url|image_path:"/250x320/" }}" alt="{{ filme.titulo }}" width="100%">
			{% endif %}
		</figure>
		
		<h1>{{ filme.titulo }}</h1>
		<p>User: {{ filme.user }}</p>
	</a>
</article>
</div><!-- . -->
{% endfor %}

</div><!-- .row -->

{% else %}
	<p>Desculpe-nos, estamos sem filmes no momento.</p>
{% endif %}

{% endblock %}